.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color:  #D3D3D3;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 251px;
  margin: 10px;
  text-align: center; 
}